.CatListH1 {
  opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
    position: absolute;
    top: 50px;
  }

  .CatListH2 {
    opacity: 1;
    visibility: visible;
    transition: .55s opacity, .55s visibility;
    position: absolute;
    width: 100%;
    background: #fff;
    padding-bottom: 50px;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
  }
  .categories__list_wrapper{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .categories__list_item{
    padding-top: 20px;
  }
  .categories__list_item a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  .categories__list_block{
    width: 50%;
  }
  .categories__list_block img{
    width: 100%;
    cursor: pointer;
    height: auto;
  }