.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
  }
  .navbar__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__left_item{
    margin-right: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
  }
  .navbar__left img{
    cursor: pointer;
  }
  .navbar__left_item a{
    text-decoration: none;
    color: #000;
  }
  .navbar__right_item a{
    text-decoration: none;
    color: #000;
  }
  .black{
    background: #000;
    font-weight: 700;
    padding: 6px 9px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  .black a{
    color: #fff;
  }
  .navbar__right{
    font-weight: bold;
    display: flex;
    justify-content: end;
  }
  .navbar__right_item{
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    .navbar {
      display: none;
    }
  }