/* .callback_bt {
    background: #0e1113;
    border: 2px solid #0e1113;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    height: 68px;
    text-align: center;
    width: 68px;
    position: fixed;
    right: 12%;
    bottom: 12%;
    z-index: 999;
    transition: 0.3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
  }
  .text_call i svg{
    width: 35px;
  }
  .active{
    right: 27%;
  }
  .cancel{
    z-index: 500;
    -webkit-animation: none;
    animation: none;
    box-shadow: none;
  }
  
  .callback_bt .text_call {
    margin-top: 8px;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .error{
    display: block;
    color: red;
    font-size: 10px;
  }
  .hide{
    display: none;
    color: black
  }
  .callback_bt .text_call span {
    text-align: center;
    color: #38a3fd;
    opacity: 0;
    font-size: 0;
    position: absolute;
    right: 4px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity 0.3s linear;
    font-family: "montserrat", Arial, Helvetica, sans-serif;
  }
  
  .callback_bt i {
    color: #fff;
    font-size: 34px;
    transition: 0.3s;
    line-height: 66px;
    transition: 0.5s ease-in-out;
  }
  .whats{
    right: 50%;
  }
  
  .callback_bt i {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
  } */