.collection{
    padding: 10px ;
    margin-bottom: 20px;
  }
  .collection__blocks{
    background: #EAEBF0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collection__blocks_text{
    width: 500px;
    text-align: center;
    font-weight: 400;
  }
  .collection__blocks_text h1{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    margin: 20px 0;
  }
  .collection__blocks_text a{
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;
    color: #0e1113;
    background: #fff;
    padding: 11px 22px;
    border-radius: 7px;
  }
  .collection__blocks img{
    width: 100%;
    height: auto;
  }
  .collection__blocks_image{
    width: 60%;
  }
  @media (max-width: 900px) {
    .collection{
      background: #EAEBF0;
      padding: 40px ;
      margin-bottom: 20px;
    }
    .collection__blocks_image{
      width: 50%;
    }
    .collection__blocks_text{
      width: 50%;
    }
    .collection__blocks_text h1{
      font-size: 30px;
      line-height: 30px;
      font-weight: 400;
      margin: 10px 0;
    }
    .collection__blocks_text a{
      font-size: 18px;
      line-height: 25px;
      padding: 11px 22px;
      border-radius: 5px;
    }
  }
@media (max-width: 900px) {

  .collection{
    background: #EAEBF0;
    padding: 0;
    margin-bottom: 10px;
  }
  .collection__blocks_image{
    margin-top: 20px;
    width: 100%;
  }
  .collection__blocks_text{
    width: 100%;
    margin: 20px 0;
  }
  .collection__blocks_text h1{
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    margin: 20px 0;
  }
  .collection__blocks_text a{
    font-size: 18px;
    line-height: 25px;
    padding: 11px 22px;
    border-radius: 5px;
  }
}
  @media (max-width: 600px) {
    .collection__blocks{
     flex-wrap: wrap-reverse;
    }
    .collection{
      background: #EAEBF0;
      padding: 0;
      margin-bottom: 10px;
    }
    .collection__blocks_image{
      margin-top: 20px;
      width: 100%;
    }
    .collection__blocks_text{
      width: 100%;
      margin: 0px 0 40px;
    }
    .collection__blocks_text h1{
      font-size: 25px;
      font-weight: 400;
      margin: 20px 0;
    }
    .collection__blocks_text a{
      font-size: 18px;
      line-height: 25px;
      padding: 11px 22px;
      border-radius: 5px;
    }
  }