.aboutUs{
    padding: 100px 0;
    background-color: #EAEBF0;
  }
  .first_block{
    display: flex;
    justify-content: space-between;
  }
  .img_in_about_us{
    width: 100%;
    height: auto;
  }
  .first_block__inner{
    width: 48%;
    color: #000;
  }
  .first_block__inner img{
    width: 100%;
  }
  .first_block__inner p{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
  .first_block__inner span{
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
  }
  
  .our_services{
    margin-top: 30px;
  }
  .our_services h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
  }
  .our_services__container{
    margin-top: 50px;
  }
  .our_services__blocks{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .our_services__block{
    width: 48%;
  }
  .our_services__blocks img{
    width: 100%;
  }
  .our_services__blocks h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .our_services__blocks p{
    margin-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 50px;
  }
  .our_services__blocks_inner{
    width: 48%;
    background-color: #fff;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our_services__blocks_inner_img{
    width: 100%;
    height: auto;
  }
  .our_services__blocks_inner h3{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
  .our_services__blocks_inner span{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
  .block_two_image{
    width: 100%;
    height: auto;
  }


  @media (max-width: 768px) {

    .first_block{
        display: flex;
        flex-wrap: wrap;
    }
    .first_block__inner{
        width: 100%;
    }
    .first_block__inner:last-child{
        margin-top: 30px;
    }
    .our_services__blocks{
      flex-wrap: wrap;
    }
    .our_services__block{
      width: 100%;
    }
    .our_services__blocks img{
      margin-bottom: 50px;
      height: auto;
    }
    
  }
  @media (max-width: 650px) {
    .our_services__blocks{
        width: 100%;
    }
    .our_services__blocks:last-child h2{
        margin-top: 30px;
    }
    .our_services__blocks h2{
        text-align: left;
    }
    .our_services__container{
        flex-wrap: wrap;
    }
  }