  .clothes__item{
    width: 49%;
    cursor: pointer;
  }
  .clothes__item_image{
    background: #E4E4E4;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 800px;
    width: 100%;
  }
  .clothes__item_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .clothes__item__text{
    text-align: center;
  }
  .clothes__item__text h5{
    font-size: 16px;
    padding: 15px 0;
  }
  .clothes__item__text p{
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 0 15px;
  }
  .price_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .price_wrapper p{
    font-size: 17px;
    padding: 15px 0;
  }
  .old_price{
    margin-right: 60px;
    text-decoration: line-through;
    font-weight: 700;
    line-height: 16px;
  }
  .new_price{
    color: #FF0000;
    font-weight: 700;
    line-height: 16px;
  }
  @media (max-width: 1024px) {
    .clothes__item_image{
      height: 500px;
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .clothes__item_image{
      height: 350px;
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .clothes__item{
        width: 100%;
      }
    .clothes__item_image{
      height: auto;
      width: 100%;
    }
      .clothes__item_image img{
        width: 100%;
        height: 100%;
        padding: 0px;
        object-fit: cover;
      }
  }