.detailClothesWrapper{
    padding: 80px 0 100px;
    display: flex;
    justify-content: space-between;
    color: #000;
  }
  .detailClothesSlider{
    width: 45%;
  }
  .detailClothesSlider img{
    width: 100%;
    height: 700px;
    object-fit: contain;
  }
  .detailClothesContent{
    width: 50%;
    padding-top: 100px;
  }
  .detailClothesTitle h1{
    font-size: 18px;
    font-weight: 700;
  }
  .detailClothesDescription{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 47px;
  }
  .detailClothesPrice{
    padding-top: 56px;
    display: flex;
    font-weight: 700;
    font-size: 20px;
  }
  .child1{
    padding-right: 47px;
    text-decoration: line-through;
  }
  .child2{
    color: #FF0000;
  }

  .detailClothesSizes{
    display: flex;
    padding-top: 50px;
  }
  .detailClothesSizesInner{
    padding: 15px;
    border: 1px solid  #000;
  }
  .detailClothesAccordeon{
    margin-top: 50px;
  }
  .detailClothesAccordeonItem{
    border-top: 1.5px solid #000;
    margin: 20px 0;
  }
  .detailClothesAccordeonItemTitle{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .detailClothesAccordeonDescription{
    visibility: hidden;
    max-height: 0;
  }
  .active{
    max-height: 300px;
    visibility: visible;
    transition: max-height 1s cubic-bezier(0.37, 0, 0.63, 1);
  }
  button .slick-arrow .slick-prev{
    background-color: red;
  }
  @media (max-width: 1000px) {

    .detailClothesContent{
      width: 50%;
      padding-top: 50px;
    }
  }
  @media (max-width: 768px) {
    .detailClothesContent{
      width: 50%;
      padding-top: 0px;
    }
    .detailClothesSizes{
      display: flex;
      padding-top: 30px;
    }
    .detailClothesDescription{
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      padding-top: 20px;
    }
    .detailClothesPrice{
      padding-top: 30px;
      display: flex;
      font-weight: 700;
      font-size: 20px;
    }
  }
  @media (max-width: 650px) {
    .detailClothesWrapper{
      padding: 0px 0 100px;
      flex-wrap: wrap;
    }
    .detailClothesSlider{
      width: 100%;
    }
  
    .detailClothesContent{
      width: 100%;
      padding-top: 60px;
    }
    .detailClothesPrice{
      padding-top: 20px;
      display: flex;
      font-weight: 700;
      font-size: 20px;
    }
    .detailClothesSlider{
      margin-top: 70px;      
    }
  }