.footer{
    color: #000;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-top: 1px solid #000;
  }
  .footer__blocks{
    display: flex;
    justify-content: space-between;
  }
  .footer__blocks_item_inner{
    margin-bottom: 5px;
  }
  .footer__blocks_item_inner_icon{
    display: flex;
    margin: 0;
    padding: 0;
  }
  .one{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
  }
  .two{
    margin-left: 20px;
  }
  .footer__blocks_item_inner a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  .title{
    font-weight: 700;
  }

  @media (max-width: 700px) {
    .footer__blocks{
      flex-wrap: wrap;
    }
    .footer__blocks_item{
      width: 50%;
      margin-top: 20px;
    }
    .footer__blocks_item_inner_icon{
      justify-content: flex-start;
    }
    .footer__blocks_item_inner_icon:last-child a{
      padding-left: 10px;
    }
  }
  @media (max-width: 426px) {
    .footer__blocks{
      flex-wrap: wrap;
    }
    .footer__blocks_item{
      width: 100%;
      margin-top: 20px;
    }
  }