.contacts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #000;
    padding-top: 50px;
  }
  .maps{
    width: 100%;
    height: auto;
  }
  .contacts_text {
      width: 40%;
      margin-top: 30px;
      padding: 0;
  }
  .contacts_maps{
      width: 60%;
      margin-top: 10px;
  }
  .contacts_maps_img {
      width: 100%;
      height: 700px;
  }
  .contacts_text{
    background: #fff;
  }
  .contacts_text_inner{
    padding: 0 20px;
  }
  .contacts_text_inner h1{
    font-size: 40px;
    font-weight: 700;
  }
  .p{
      margin-top: 20px;
  }
  .contacts_text_inner_item{
    margin: 50px 0;
  }
  .contacts_text_inner_item span{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .contacts_text_inner_item p{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 900px) {
    .contacts {
      flex-wrap: wrap;
    }
    .contacts_text {
        width: 100%;
    }
    .contacts_maps{
        width: 100%;
      padding-top: 20px;
    }
    .contacts_text_inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contacts_text_inner h1{
        font-size: 30px;
        font-weight: 700;
      }
      .contacts_text_inner_item:first-child{
          margin-top: 0;
      }
      .contacts_text_inner_item{
        margin: 30px 0;
      }
      .contacts_text_inner_item span{
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 20px;
      }
      .contacts_text_inner_item p{
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
      }
  }
  @media (max-width: 550px) {
    .contacts {
      flex-wrap: wrap;
    }
    .contacts_text {
        width: 100%;
    }
    .contacts_maps{
        width: 100%;
      padding-top: 20px;
    }
    .contacts_text_inner{
        display: block;
    }
  }