@font-face {
  font-family: 'Century Gothic Regular';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),url('../fonts/CenturyGothic.woff') format('woff'),url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
*{
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic Regular';
}
.body{
  box-sizing: border-box;
  color: #000000;
  background: #fff;
  font-family: 'Century Gothic Regular';
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container{
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container{
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container{
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .container{
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container{
    max-width: 700px;
  }
}
@media (max-width: 600px) {
  .container{
    max-width: 425px;
  }
}
@media (max-width: 425px) {
  .container{
   width: 100%;
    padding: 0px 10px;
  }
}

@media (max-width: 738px) {
  .container{
    padding: 0 20px;
    max-width: 738px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .container{
    padding: 0 5px;
    max-width: 425px;
    margin: 0 auto;
  }
}


.callback-bt {
  background: #0e1113;
  border: 2px solid #0e1113;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
  cursor: pointer;
  height: 68px;
  text-align: center;
  width: 68px;
  position: fixed;
  right: 12%;
  bottom: 12%;
  z-index: 999;
  transition: 0.3s;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
}
.text-call i svg{
  width: 35px;
}
.active{
  right: 22%;
}
.wa{
  color: #fff;
  font-size: 50px;
}
.cancel{
  z-index: 500;
  -webkit-animation: none;
  animation: none;
  box-shadow: none;
}
.whats{
  right: 17%;
  animation: none;
  box-shadow: none;
}
.callback-form-title{
  font-size: 20px;
  padding: 10px 0;
}
.callback-form-input{
  padding: 10px 0;
}
.callback-form-input input:focus{
  outline: none;
}
.callback-form-input input{
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  -webkit-box-shadow: 19px 40px 23px -29px rgba(42, 49, 54, 0.25) inset;
  -moz-box-shadow: 19px 40px 23px -29px rgba(42, 49, 54, 0.25) inset;
  box-shadow: 5px 23px 20px -30px rgba(42, 49, 54, 0.5) inset;
  width: 90%;
}
.callback-form-btn{
  margin-top: 20px;
  text-align: center;
}
.callback-form-btn button{
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: #0e1113;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.disabled button{
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: #ccc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.callback-bt .text-call {
  margin-top: 8px;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.error{
  display: block;
  color: red;
  font-size: 10px;
}
.hide{
  display: none;
  color: black
}
.callback-bt .text-call span {
  text-align: center;
  color: #38a3fd;
  opacity: 0;
  font-size: 0;
  position: absolute;
  right: 4px;
  top: 22px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity 0.3s linear;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.callback-bt i {
  color: #fff;
  font-size: 34px;
  transition: 0.3s;
  line-height: 66px;
  transition: 0.5s ease-in-out;
}

.callback-bt i {
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1200ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}
@media (max-width: 1000px) {
  .active{
    right: 26%;
  }
  .whats{
    right: 19%;
    animation: none;
    box-shadow: none;
  }

}
@media (max-width: 768px) {
  .callback-bt {
    background: #0e1113;
    height: 48px;
    width: 48px;
  }
  .text-call i svg{
    margin-bottom: 15px;
    margin-right: 20px;
    width: 25px;
  }
  .callback-form-active{
    right: 20%;
    bottom: 25%;
    border-radius: 6px;
  }
  .callback-form-block{
    padding: 20px;
  }
  .callback-form-active{
    right: 10%;
    bottom: 25%;
    z-index: 999;
    background-color: #fff;
    border-radius: 6px;
  }
  .callback-form-title{
    font-size: 15px;
    padding: 5px 0;
  }
  .callback-form-input{
    padding: 5px 0;
  }
  .wa{
    font-size: 40px;
    margin-right: 17px;
    margin-top: -3px;
  }
  
}
@media (max-width: 500px) {
  .wa{
    font-size: 40px;
    margin-right: 20px;
    margin-top: -1px;
  }
  .active{
    right: 32%;
  }
  .whats{
    right: 22%;
    animation: none;
    box-shadow: none;
  }
}
@media (max-width: 360px) {
  .active{
    right: 35%;
  }
  .whats{
    right: 23%;
    animation: none;
    box-shadow: none;
  }

  
}


.slick-dots{
  margin-bottom: -30px;
  height: 50px;
}
img{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next{
  color: #000000 !important;
}
.swiper-button-prev{
  color: #000000 !important;
}
.swiper-pagination-bullet-active{
  background: #000000 !important;
}