.cardCategories{
    margin: 30px 0;
  overflow: hidden;
  }
  .card__blocks{
    display: flex;
      justify-content: center;
  }
  .card__blocks__item{
      text-align: center;
      position: relative;
      margin-bottom: 30px;
      z-index: 100;
  }
  .card__blocks__item a{
      cursor: pointer;
  }
  .card__blocks__item img{
      width: 340px;
      height: 470px;
  }
.slick_slider{
  padding-left: 30px;
}

.cardCategories button  {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
  opacity: 1;
}

.cardCategories button:focus{
  opacity: 1;
}
.card__blocks__item_inner{
    position: absolute;
    top: 50%;
    right: 15%;
    border-radius: 5px;
    border: 2px solid #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    line-height: 17px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  

  .card__blocks__item_inner:hover{
    border: 2px solid #fff;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
  }
@media (max-width: 1380px) {
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 23%;
    }
}
@media (max-width: 1024px) {
    .cardCategories{
        margin: 30px 0;
        overflow: hidden;
    }
    .card__blocks{
        display: flex;
        justify-content: center;
    }
    .card__blocks__item{
        position: relative;
        margin-bottom: 30px;
    }
    .card__blocks__item img{
        width: 300px;
        height: 400px;
    }
    .slick_slider{
        padding-left: 30px;
    }
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 15%;
    }
}
@media (max-width: 900px) {
    .cardCategories{
        margin: 20px 0;
        overflow: hidden;
    }
    .card__blocks__item{
        text-align: center;
    }
    .card__blocks__item img{
        width: 300px;
        object-fit: cover;
        height: 400px;
    }
    .slick_slider{
        padding-left: 30px;
    }
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 20%;
    }
}
@media (max-width: 768px) {
    .cardCategories{
        margin: 30px 0;
        overflow: hidden;
    }
    .card__blocks{
        display: flex;
        justify-content: center;
    }
    .card__blocks__item{
        position: relative;
        margin-bottom: 30px;
    }
    .card__blocks__item img{
        width: 320px;
        height: 450px;
    }
    .slick_slider{
        padding-left: 30px;
    }
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 23%;
    }
}
@media (max-width: 425px) {
    .cardCategories{
        margin: 30px 0;
        overflow: hidden;
    }
    .card__blocks{
        display: flex;
        justify-content: center;
    }
    .card__blocks__item{
        position: relative;
        margin-bottom: 30px;
    }
    .card__blocks__item img{
        width: 425px;
        height: 500px;
        margin: 0;
        padding: 0;
    }
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 25%;
    }


}
@media (max-width: 375px) {
    .card__blocks__item img{
        width: 375px;
        height: 450px;
        margin: 0;
        padding: 0;
    }
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 23%;
    }

}
@media (max-width: 320px) {
    .card__blocks__item img{
        width: 320px;
        height: 400px;
        margin: 0;
        padding: 0;
    }
    .card__blocks__item_inner {
        position: absolute;
        top: 50%;
        right: 20%;
    }
}