.callback_form{
    display: none;
  }
  .callback_form_active{
    display: block;
    position: fixed;
    right: 20%;
    bottom: 25%;
    z-index: 999;
    background-color: #fff;
    border-radius: 6px;
  }
  .callback_form_block{
    padding: 50px;
  }
  .callback_form_title{
    font-size: 17px;
    padding: 10px 0;
  }
  .callback_form_input{
    padding: 10px 0;
    width: 300px;
  }
  .callback_form_input input:focus{
    outline: none;
  }
  .callback_form_input .input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    -webkit-box-shadow: 19px 40px 23px -29px rgba(42, 49, 54, 0.25) inset;
    -moz-box-shadow: 19px 40px 23px -29px rgba(42, 49, 54, 0.25) inset;
    box-shadow: 5px 23px 20px -30px rgba(42, 49, 54, 0.5) inset;
    width: 90%;
  }
  .callback_form_btn{
    margin-top: 20px;
    text-align: center;
  }
  .callback_form_btn button{
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #0e1113;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .disabled button{
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .callback_form_active{
      right: 10%;
    }
  }
  @media (max-width: 500px) {
    .callback_form_active{
      right: 0%;
    }
    .callback_form_block{
      padding:10px;
    }
  }