.collection{
    background: #EAEBF0;
    padding-top: 50px;
    margin-bottom: 20px;
  }
  .collection__blocks{
    display: flex;
    align-items: center;
  }
  .collection__blocks_text{
    width: 500px;
    text-align: center;
    font-weight: 400;
    z-index: 500;
  }
  .collection__blocks_text h1{
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    margin: 20px 0;
  }
  .collection__blocks_text a{
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 11px 20px;
    border-radius: 5px;
    
  }
  .collection__blocks_image{
    width: 60%;
    padding-top: 40px;
    
  }
  .collection__blocks img{
    width: 100%;
    height: auto;
   
  }
  @media (max-width: 900px) {
    .collection__blocks_text{
      width: 300px;
      text-align: center;
      font-weight: 400;
    }
    .collection__blocks_text h1{
      font-size: 25px;
      line-height: 20px;
      font-weight: 400;
      margin: 10px 0;
    }
    .collection__blocks_text a{
      font-size: 15px;
      line-height: 30px;
      text-decoration: none;
      color: #000;
      background: #fff;
      padding: 11px 20px;
      border-radius: 5px;
    }
  }
  @media (max-width: 600px) {
    .collection__blocks{
        flex-wrap: wrap-reverse;
    }
    .collection__blocks_image{
        width: 100%;
    }
    .collection__blocks_text{
        position: absolute;
        bottom: 10%;
        left: 15%;
        background: rgba(0, 0, 0, 0.5);
        width:300px;
        padding: 20px;
        border-radius: 6px;
    }
    .collection__blocks_text h1{
        font-size: 20px;
        margin: 10px 0;
        color: #fff;
        
      }
      .collection__blocks_text a{
        font-size: 14px;
      }
      .collection__blocks img{
        max-width: 600px;
        object-fit: cover;
        height: 100vh;
      }
      .collection__blocks_image{
        padding-top: 0;
      }
  }
  @media (max-width: 425px) {
    .collection__blocks{
        flex-wrap: wrap-reverse;
    }
    .collection__blocks_text{
        position: absolute;
        bottom: 0;
        left: 0%;
        background: rgba(0, 0, 0, 0.5);
        width: 90%;
        padding: 15px;
        border-radius: 6px;
    }
    .collection__blocks_text h1{
        font-size: 20px;
        margin: 10px 0;
        color: #fff;
      }
  }